
<div class="col-xs-4"></div>
<div class="container" class="col-xs-4">
	<form>
		<br> <br>
		<div class="input-group">
			<span class="input-group-addon"><i
				class="glyphicon glyphicon-user"></i></span> <input id="first name"
				type="text" class="form-control" name="firstname"
				placeholder="firstname">
		</div>
		<br> <br>
		<div class="input-group">
			<span class="input-group-addon"><i
				class="glyphicon glyphicon-user"></i></span> <input id="lastname"
				type="text" class="form-control" name="lastname"
				placeholder="lastname">
		</div>
		<br> <br>
		<div class="input-group">
			<span class="input-group-addon"><i
				class="glyphicon glyphicon-lock"></i></span> <input id="password"
				type="password" class="form-control" name="password"
				placeholder="Password">
		</div>
		<br> <br>
		<div class="input-group">
			<span class="input-group-addon"><i
				class="glyphicon glyphicon-credit-card"></i></span> <input
				id="Code Alliance" type="text" class="form-control"
				name="Code Alliance" placeholder="Code Alliance">
		</div>
		<br> <br>
		<div class="input-group">
			<span class="input-group-addon"><i
				class="glyphicon glyphicon-envelope"></i></span> <input id="email"
				type="email" class="form-control" name="email" placeholder="email">
		</div>

		<br> <br>

		<button type="submit" routerLink="/superuser"
			routerLinkActive="active-link" class="btn btn-success">Save</button>
		<button type="reset" class="btn btn-default">Reset</button>
	</form>

</div>
<div class="col-xs-3"></div>
<div class="col-xs-1">
	<button routerLink="/logout" routerLinkActive="active-link"
		type="submit" class="btn btn-primary btn-sm center-block"
		(click)="logouttUser()">logout</button>
</div>


