<body>
	<div *ngIf="superuser">
		<div class="row">
			<div class="col-xs-5"></div>
			<div class="col-xs-2">
				<select style="text-align: center;" #select
					(change)="onChange(select.value)" class="form-control">
					<option>Tout</option>
					<option *ngFor="let domaine of domaines" [value]="domaine.dmn">{{domaine.dmn}}</option>
				</select>
			</div>
			<div class="col-xs-3"></div>
			<div class="dropdown" dropdown [dropdownToggle]="false"
				(onOpen)="doSomeActionOnOpen()" (onClose)="doSomeActionOnClose()">
				<button class="btn btn-primary" dropdown-open>
					mon compte <span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li><a routerLink="/moncompte">changer mot de passe</a></li>
					<li><a routerLink="/logout" routerLinkActive="active-link">Se
							deconnecter</a></li>
				</ul>
			</div>
		</div>
		<ul class="nav nav-tabs">
			<li [class.active]="ifList"><a (click)="showList()">Liste de
					collaborateurs</a></li>
			<li [class.active]="ifCreate"><a (click)="showCreation()">
					creation</a></li>
			<li class="dropdown"><a class="dropbtn">Admin</a>
				<div>
					<ul class="dropdown-menu">
						<li [class.active]="ifAdminProjet"><a
							(click)="showAdminProjet()">Projets</a></li>
						<li [class.active]="ifAdminDomaine"><a
							(click)="showAdminDomaine()">Domaines</a></li>
					</ul>
				</div></li>
			<li>
				<form class="navbar-form navbar-left"></form>
			</li>
		</ul>
		<div *ngIf="ifList">
			<br> <br> <br> <br>
			<div class="row"></div>
			<div class="col-xs-4">
				<div class="input-group">
					<span class="input-group-addon"><i
						class="glyphicon glyphicon-search"></i></span><input
						[formControl]="search" type="text" class="form-control"
						name="search" [value]="searchKey" placeholder="Search">
				</div>
			</div>
			<div class="row"></div>
			<div class="container" class="col-xs-6">
				<br>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Prenom</th>
							<th>Nom</th>
							<th>Code Alliance</th>
							<th>Voir details</th>
						</tr>
					</thead>
					<tbody *ngFor='let user of users | myfilter: searchKey'>
						<tr>
							<td>{{user.firstName}}</td>
							<td>{{user.lastName}}</td>
							<td>{{user.codeAlliance}}</td>
							<th><p>
									<a routerLink="/viewdetails"
										(click)="getDetails(user.codeAlliance)">voir details</a>
								</p></th>
							<th><a class="btn btn-info glyphicon glyphicon-pencil"
								(click)="onSelect(user)"> </a></th>

							<th><i class="btn btn-danger glyphicon glyphicon-trash"
								(click)="onDelete(user.codeAlliance)"></i></th>
							<th><i class="btn btn-def glyphicon glyphicon-export"></i></th>
						</tr>
					</tbody>
				</table>
				<div class="row"></div>
				<div class="col-md-11"></div>
				<div>
					<button type="button" class="btn btn-primary">Exporter
						tout</button>
				</div>
			</div>
			<div class="col-md-1"></div>
			<div class="col-md-3">
				<div *ngIf="openedit">
					<div *ngIf="selectedUser">
						<h2>{{selectedUser.firstName}} {{selectedUser.lastName}}
							details!</h2>
						<br>
						<div class="input-group">
							<label>Code Alliance: </label> <input class="form-control"
								type="text" [(ngModel)]="selectedUser.codeAlliance"
								placeholder="CodeAlliance" disabled />
						</div>
						<br>
						<div>
							<label>Prenom: </label> <input class="form-control" type="text"
								[(ngModel)]="selectedUser.firstName" placeholder="Prenom" />
						</div>
						<br>
						<div class="input-group">
							<label>Nom: </label> <input class="form-control" type="text"
								[(ngModel)]="selectedUser.lastName" placeholder="Nom" />
						</div>
						<br>
						<div class="input-group">
							<label>Email: </label> <input class="form-control" type="text"
								[(ngModel)]="selectedUser.email" placeholder="Email" />
						</div>
						<br>
						<div class="input-group">
							<label>Role: </label> <select style="text-align: center"
								name="Domaine" class="form-control">
								<option *ngFor="let role of roles"
									[selected]="role.role === selectedUser.role">{{role.role}}</option>
							</select>
						</div>
						<br>
						<div class="input-group">
							<label>Domaine: </label> <select style="text-align: center"
								name="Domaine" class="form-control">
								<option *ngFor="let domaine of domaines"
									[selected]="domaine.dmn === selectedUser.dmn">{{domaine.dmn}}</option>
							</select>
						</div>
						<br>
						<button type="submit" routerLink="/superuser"
							routerLinkActive="active-link" class="btn btn-success"
							(click)="updateuser()">sauvgarder</button>
						<button type="reset" class="btn btn-default">Renitialiser</button>
						<button type="button" class="btn btn-default" (click)="cancel4()">Annuler</button>
					</div>
				</div>
			</div>
			<router-outlet></router-outlet>
		</div>
		<div *ngIf="ifCreate">
			<br>
			<div class="col-xs-11"></div>
			<div class="col-xs-1">
				<button type="button" class="btn btn-sm center-block"
					(click)="showList()">Retour</button>
			</div>
			<br> <br>
			<div class="row">
				<div class="col-xs-4"></div>
				<div class="container" class="col-xs-4">
					<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
						<br> <br>
						<div class="input-group">
							<span class="input-group-addon"><i
								class="glyphicon glyphicon-user"></i></span> <input
								formControlName="firstName" class="form-control" type="text"
								name="firstName" placeholder="Prenom" required>
							<!-- 							<span *ngIf="form.controls.firstName.errors?.required" -->
							<!-- 								class="glyphicon glyphicon-remove form-control-feedback"></span> -->
						</div>
						<br> <br>
						<div class="input-group">
							<span class="input-group-addon"><i
								class="glyphicon glyphicon-user"></i></span> <input type="text"
								formControlName="lastName" class="form-control" name="lastName"
								placeholder="Nom" required>
						</div>
						<!-- 						<div> -->
						<!-- 							<p *ngIf="form.controls.lastName.errors?.required" -->
						<!-- 								style="color: red;">lastName required!</p> -->
						<!-- 						</div> -->
						<br> <br>
						<div class="input-group">
							<span class="input-group-addon"><i
								class="glyphicon glyphicon-lock"></i></span> <input type="password"
								formControlName="password" class="form-control" name="password"
								placeholder="Mot de passe" required>
						</div>
						<br> <br>
						<div class="input-group">
							<span class="input-group-addon"><i
								class="glyphicon glyphicon-credit-card"></i></span> <input type="text"
								formControlName="codeAlliance" class="form-control"
								name="codeAlliance" placeholder="Code Alliance" required>
						</div>
						<br> <br>
						<div class=" form-group">
							<select style="text-align: center" name="role"
								formControlName="role" class="form-control" required>
								<option></option>
								<option *ngFor="let role of roles">{{role.role}}</option>
							</select>
						</div>
						<br>
						<div class=" form-group">
							<select style="text-align: center;" class="form-control"
								formControlName="dmn" name="dmn" required>
								<option>Tout</option>
								<option *ngFor="let domaine of domaines">{{domaine.dmn}}</option>
							</select>
						</div>
						<br>
						<div class="input-group">
							<span class="input-group-addon"><i
								class="glyphicon glyphicon-envelope"></i></span> <input id="email"
								formControlName="email" type="email" class="form-control"
								name="email" placeholder="email" required>
						</div>
						<br> <br>
						<button type="submit" class="btn btn-success" value="submit">Sauvegarder</button>
						<button type="reset" class="btn btn-default">Renitialiser</button>
					</form>
				</div>
			</div>
		</div>
		<div *ngIf="ifAdminProjet">
			<br>
			<div class="col-xs-11"></div>
			<div class="col-xs-1">
				<button type="button" class="btn btn-sm center-block"
					(click)="showList()">Retour</button>
			</div>
			<br> <br> <br> <br>
			<div class="row"></div>
			<div class="container" class="col-xs-7">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Code projet</th>
							<th>Nom projet</th>
							<th>Nom complet</th>
							<th>Description du Projet</th>
						</tr>
					</thead>
					<tbody *ngFor="let projet of projets">
						<tr>
							<td>{{projet.codeprojet}}</td>
							<td>{{projet.nomprojet}}</td>
							<td>{{projet.nomcomplet}}</td>
							<td>{{projet.descriptionprojet}}</td>
							<th><a class="btn btn-info glyphicon glyphicon-pencil"
								(click)="onSelectep(projet)"> </a></th>
							<th><i class="btn btn-danger glyphicon glyphicon-trash"
								(click)="onDeletep(projet.codeprojet)"></i></th>
						</tr>
					</tbody>
				</table>
				<div class="row"></div>
				<div class="col-md-11"></div>
				<div>
					<button type="button" class="btn" (click)="addProjet()">Ajouter</button>
				</div>
			</div>
			<div class="col-xs-1"></div>
			<div class="col-xs-3">
				<div *ngIf="ifProjet">
					<form [formGroup]="form" (ngSubmit)="onSubmitp(form.value)">
						<h2>Ajouter Projet</h2>
						<br>
						<div class="input-group">
							<label>Code projet : </label> <input formControlName="codeprojet"
								class="form-control" type="text" placeholder="Code projet" />
						</div>
						<br>
						<div>
							<label>NOM Projet : </label> <input class="form-control"
								formControlName="nomprojet" type="text" placeholder="Nom Projet" />
						</div>
						<br>
						<div>
							<label>NOM complet : </label> <input class="form-control"
								formControlName="nomcomplet" type="text"
								placeholder="Nom complet" />
						</div>
						<br>
						<div class="input-group">
							<label>Description du Projet : </label> <input
								formControlName="descriptionprojet" class="form-control"
								type="text" placeholder="Description du Projet" />
						</div>
						<br>
						<button type="submit" routerLink="/superuser"
							routerLinkActive="active-link" class="btn btn-success">Sauvegarder</button>
						<button type="reset" class="btn btn-default">Renitialiser</button>
						<button type="button" class="btn btn-default" (click)="cancel()">Annuler</button>
					</form>
				</div>
			</div>
			<router-outlet></router-outlet>
			<div class="col-xs-1"></div>
			<div class="col-xs-3">
				<div *ngIf="editProjet">
					<div *ngIf="selecteProjet">
						<form [formGroup]="form" (ngSubmit)="onSubmitp(form.value)">
							<h2>Modifier Projet</h2>
							<br>
							<div class="input-group">
								<label>Code projet :</label> <input formControlName="codeprojet"
									[(ngModel)]="selecteProjet.codeprojet" class="form-control"
									type="text" placeholder="Code projet" />
							</div>
							<br>
							<div>
								<label>NOM Projet : </label> <input class="form-control"
									[(ngModel)]="selecteProjet.nomprojet"
									formControlName="nomprojet" type="text"
									placeholder="Nom Projet" />
							</div>
							<br>
							<div>
								<label>NOM complet : </label> <input class="form-control"
									[(ngModel)]="selecteProjet.nomcomplet"
									formControlName="nomcomplet" type="text"
									placeholder="Nom complet" />
							</div>
							<br>
							<div class="input-group">
								<label>Description du Projet :</label> <input
									[(ngModel)]="selecteProjet.descriptionprojet"
									formControlName="descriptionprojet" class="form-control"
									type="text" placeholder="Description du Projet" />
							</div>
							<br>
							<button type="submit" routerLink="/superuser"
								routerLinkActive="active-link" class="btn btn-success">Sauvegarder</button>
							<button type="reset" class="btn btn-default">Renitialiser</button>
							<button type="button" class="btn btn-default" (click)="cancel2()">Annuler</button>
						</form>
					</div>
				</div>
			</div>
			<router-outlet></router-outlet>
		</div>
		<div *ngIf="ifAdminDomaine">
			<br>
			<div class="col-xs-11"></div>
			<div class="col-xs-1">
				<button type="button" class="btn btn-sm center-block"
					(click)="showList()">Retour</button>
			</div>
			<br> <br> <br> <br>
			<div class="row"></div>
			<div class="container" class="col-xs-7">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>DMN</th>
							<th>Nom Domaine</th>
							<th>Description du domaine</th>
						</tr>
					</thead>
					<tbody *ngFor="let domaine of domaines">
						<tr>
							<td>{{domaine.dmn}}</td>
							<td>{{domaine.nomDomaine}}</td>
							<td>{{domaine.descriptiondmn}}</td>
							<th><a class="btn btn-info glyphicon glyphicon-pencil"
								(click)="onSelected(domaine)"> </a></th>
							<th><i class="btn btn-danger glyphicon glyphicon-trash"
								(click)="onDeleted(domaine.dmn)"></i></th>
						</tr>
					</tbody>
				</table>
				<div class="row"></div>
				<div class="col-md-11"></div>
				<div>
					<button type="button" class="btn" (click)="addDomaine()">Ajouter</button>
				</div>
			</div>
			<div class="col-xs-3">
				<div *ngIf="ifDomaine">
					<form [formGroup]="form" (ngSubmit)="onSubmitd(form.value)">
						<h2>Ajouter Domaine</h2>
						<br>
						<div class="input-group">
							<label>DMN : </label> <input class="form-control" type="text"
								formControlName="dmn" placeholder="DMN" />
						</div>
						<br>
						<div>
							<label>NOM domaine : </label> <input class="form-control"
								formControlName="nomDomaine" type="text"
								placeholder="Nom domaine" />
						</div>
						<br>
						<div class="input-group">
							<label>Description du domaine : </label> <input
								class="form-control" type="text"
								formControlName="descriptiondmn"
								placeholder="Description du domaine" />
						</div>
						<br>
						<button type="submit" routerLink="/superuser"
							routerLinkActive="active-link" class="btn btn-success">Sauvegarder</button>
						<button type="reset" class="btn btn-default">Renitialiser</button>
						<button type="button" class="btn btn-default" (click)="cancel1()">Annuler</button>
					</form>
				</div>
			</div>
			<router-outlet></router-outlet>
			<div class="col-xs-3">
				<div *ngIf="editDomaine">
					<div *ngIf="selectDomaine">
						<form [formGroup]="form" (ngSubmit)="onSubmitd(form.value)">
							<h2>Modifier Domaine</h2>
							<br>
							<div class="input-group">
								<label>DMN : </label> <input [(ngModel)]="selectDomaine.dmn"
									class="form-control" type="text" formControlName="dmn"
									placeholder="DMN" />
							</div>
							<br>
							<div class="input-group">
								<label>NOM domaine : </label> <input
									[(ngModel)]="selectDomaine.nomDomaine" class="form-control"
									formControlName="nomDomaine" type="text"
									placeholder="Nom domaine" />
							</div>
							<br>
							<div class="input-group">
								<label>Description du domaine : </label> <input
									class="form-control" [(ngModel)]="selectDomaine.descriptiondmn"
									type="text" formControlName="descriptiondmn"
									placeholder="Description du domaine" />
							</div>
							<br>
							<button type="submit" routerLink="/superuser"
								routerLinkActive="active-link" class="btn btn-success"
								(click)="updatedomaine()">Sauvegarder</button>
							<button type="reset" class="btn btn-default">Renitialiser</button>
							<button type="button" class="btn btn-default" (click)="cancel3()">Annuler</button>
						</form>
					</div>
				</div>
			</div>
			<router-outlet></router-outlet>
		</div>
	</div>
</body>
<router-outlet></router-outlet>
