<body>
	<div *ngIf="superuser">
		<div class="row">
			<div class="col-xs-5"></div>
			<div class="col-xs-2">
				<select style="text-align: center;" #select
					(change)="onChange(select.value)" class="form-control">
					<option>ALL</option>
					<option *ngFor="let domaine of domaines" [value]="domaine.dmn">{{domaine.dmn}}</option>
				</select>

			</div>
			<div class="col-xs-4"></div>
			<div class="col-xs-1">
				<button routerLink="/logout" routerLinkActive="active-link"
					type="submit" class="btn btn-primary btn-sm center-block"
					(click)="logoutUser()">logout</button>
			</div>
		</div>

		<ul class="nav nav-tabs">
			<li [class.active]="ifList"><a (click)="showList()">Liste de
					collaborateurs</a></li>
			<li [class.active]="ifCreate"><a (click)="showCreation()">
					creation</a></li>
			<li [class.active]="ifAdmin"><a (click)="showAdmin()">Admin</a></li>

			<li>
				<form class="navbar-form navbar-left"></form>
			</li>

		</ul>
		<br>
		<div *ngIf="ifList">
			<div class="row"></div>
			<div class="container" class="col-xs-5">
				<!-- 			<h2>Liste de collaborateurs</h2> -->
				<div class="input-group">
					<span class="input-group-addon"><i
						class="glyphicon glyphicon-search"></i></span><input [formControl]="search"
						type="text" class="form-control" name="search"
						placeholder="Search" [value]="searchKey">

				</div>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Firstname</th>
							<th>Lastname</th>
							<th>Code Alliance</th>
							<th>view details</th>
						</tr>
					</thead>
					<tbody
						*ngFor='let user of users | myfilter: searchKey'>

						<tr>
							<td>{{user.firstName}}</td>
							<td>{{user.lastName}}</td>
							<td>{{user.codeAlliance}}</td>
							<th><p>
									<a routerLink="/viewdetails"
										(click)="getDetails(user.codeAlliance)">view details</a>
								</p></th>
						</tr>
					</tbody>
				</table>

			</div>
			<router-outlet></router-outlet>
		</div>
		<div *ngIf="ifCreate">
			<div class="row">
				<div class="col-xs-4"></div>
				<div class="container" class="col-xs-4">
					<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
						<br> <br>
						<div class="input-group">
							<span class="input-group-addon"><i
								class="glyphicon glyphicon-user"></i></span> <input
								class="form-control" type="text" formControlName="firstname"
								name="firstname" placeholder="firstname">
						</div>
						<div *ngIf="formErrors.firstname" class="alert alert-danger">{{
							formErrors.firstname }}</div>

						<br> <br>
						<div class="input-group">
							<span class="input-group-addon"><i
								class="glyphicon glyphicon-user"></i></span> <input type="text"
								class="form-control" formControlName="lastname" name="lastname"
								placeholder="lastname">
						</div>
						<div *ngIf="formErrors.lastname" class="alert alert-danger">{{
							formErrors.lastname }}</div>
						<br> <br>
						<div class="input-group">
							<span class="input-group-addon"><i
								class="glyphicon glyphicon-lock"></i></span> <input type="password"
								class="form-control" formControlName="password" name="password"
								placeholder="Password">
						</div>
						<br> <br>
						<div class="input-group">
							<span class="input-group-addon"><i
								class="glyphicon glyphicon-credit-card"></i></span> <input type="text"
								class="form-control" formControlName="codeAlliance"
								name="CodeAlliance" placeholder="Code Alliance">
						</div>
						<br> <br>
						<div class=" form-group">
							<select style="text-align: center" name="role"
								class="form-control" formControlName="role">
								<option></option>
								<option *ngFor="let role of roles">{{role.role}}</option>
							</select>
						</div>
						<br>
						<div class=" form-group">
							<select style="text-align: center;" class="form-control"
								name="domaine" formControlName="domaine">
								<option>ALL</option>
								<option *ngFor="let domaine of domaines">{{domaine.dmn}}</option>
							</select>

						</div>
						<br>
						<div class="input-group">
							<span class="input-group-addon"><i
								class="glyphicon glyphicon-envelope"></i></span> <input id="email"
								type="email" class="form-control" formControlName="email"
								name="email" placeholder="email">
						</div>

						<br> <br>

						<button type="submit" routerLink="/superuser"
							routerLinkActive="active-link" class="btn btn-success"
							value="submit" [disabled]="!form.valid">Save</button>
						<button type="reset" class="btn btn-default">Reset</button>
					</form>

				</div>
				<div class="col-xs-3"></div>
				<div class="col-xs-1">
					<button type="button" class="btn btn-sm center-block"
						(click)="showList()">Back</button>
				</div>
			</div>
		</div>
		<div *ngIf="ifAdmin">
			<div class="row">
				<div class="col-xs-7">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Code projet</th>
								<th>Nom projet</th>
								<th>Nom complet</th>
								<th>Description du Projet</th>
							</tr>
						</thead>
						<tbody *ngFor="let projet of projets">

							<tr>
								<td>{{projet.codeprojet}}</td>
								<td>{{projet.nomprojet}}</td>
								<td>{{projet.nomcomplet}}</td>
								<td>{{projet.descriptionprojet}}</td>
							</tr>
						</tbody>
					</table>
					<button type="button" class="btn btn-success">Save</button>
					<button type="button" class="btn">Add</button>
				</div>
				<div class="col-xs-4"></div>
				<div class="col-xs-1">
					<button type="button" class="btn btn-sm center-block"
						(click)="showList()">Back</button>
				</div>
			</div>
		</div>
	</div>
</body>
<router-outlet></router-outlet>
