<div *ngIf="authentication">
	<div class="col-xs-4"></div>

	<div class="container" class="col-xs-4">
		<form method="post">
			<div class="form-group">
				<br> <br> <br> <br>
				<div class="input-group">
					<span class="input-group-addon"><i
						class="glyphicon glyphicon-user"></i></span> <input #userId id="email"
						type="text" class="form-control" name="email" placeholder="Email"
						value="{{login}}" >
				</div>
			</div>
			<div class="input-group">
				<span class="input-group-addon"><i
					class="glyphicon glyphicon-lock"></i></span> <input #userPwd id="password"
					type="password" class="form-control" name="password"
					placeholder="Mot de passe">
			</div>
			<div class="checkbox"></div>
			<label><input type="checkbox">Se souvenir de moi</label>
			<p>
				<a routerLink="/forgetpwd"  routerLinkActive="active-link" (click)="passwrd()">Mot de passe oublié</a>
			</p>
			<button type="submit" class="btn btn-primary" (click)="connectUser(userId.value,  userPwd.value)">connexion</button>
		</form>
	</div>
</div>
<router-outlet></router-outlet>
