
<div *ngIf="moncompte">
	<br>
	<div class="col-xs-11"></div>
	<div class="col-xs-1">
		<button type="button" class="btn btn-sm center-block"
			routerLink="/superuser">Retour</button>
	</div>
	<div class="container">
		<br> <br> <br> <br> <br> <br> <br>
		<div class="col-xs-4"></div>
		<div class="col-xs-7">
			<form [formGroup]="form">
			<h2>Changer le mot de passe</h2>
			<br>
				<div class="form-group">
					<div class="input-group">
						<label>Mot de passe actuel : </label> <input id="password"
							 type="password" class="form-control"
							name="password" placeholder="Mot de passe actuel">
					</div>
					<br>
					<div class="input-group">
						<label>Nouveau mot de passe : </label> <input id="password"
							formControlName="password" type="password" class="form-control"
							name="password" placeholder="Nouveau mot de passe">
					</div>
					<br>
					<div class="input-group">
						<label>Confirmer mot de passe : </label> <input id="password"
							type="password" class="form-control"
							name="password" placeholder="Confirmer mot de passe">
					</div>
				</div>


				<button type="submit" class="btn btn-success" value="submit" (click)="updateuser()">Sauvegarder</button>
				<button type="reset" class="btn btn-default">Renitialiser</button>
			</form>
		</div>
	</div>
</div>
<router-outlet></router-outlet>