.jumbotron {
		left: 0;
	width: 100%;
	bottom: 0;
	background-color: #71707c;
	position: static;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	
	background-color: #71707c;
	
}