
<div class="jumbotron text-center" >
	<h1 style="color:white;" >G.I</h1>
</div>


 <app-authentication>Loading...</app-authentication>
<!-- <app-listwithdet>Loading...</app-listwithdet> -->
<!--  <app-newuser>Loading...</app-newuser>-->
<!-- <app-simpleuser>Loading...</app-simpleuser>  -->
<!-- <app-superuser>Loading...</app-superuser>  -->
<!-- <app-forgetpwd>Loading...</app-forgetpwd>-->
<!--<app-admin>Loading...</app-admin>-->
<footer class="container-fluid text-center">
	<h4 style="color:white;">G.I Copyright</h4>

</footer>
