
<div class="jumbotron " >
	<h1 style="color:white;"  class="text-center">G.I</h1>
<!-- 	<img src="sofrecom.png" alt="logo" width="60" height="60"/> -->
</div>


 <app-authentication>Loading...</app-authentication>
<!-- <app-listwithdet>Loading...</app-listwithdet> -->
<!--  <app-newuser>Loading...</app-newuser>-->
<!-- <app-simpleuser>Loading...</app-simpleuser>  -->
<!-- <app-superuser>Loading...</app-superuser>  -->
<!-- <app-forgetpwd>Loading...</app-forgetpwd>-->
<!--<app-admin>Loading...</app-admin>-->

<footer class="container-fluid text-center">
	<h4 style="color:white;">G.I Copyright</h4>

</footer>

    
