
<div class="row">
	<div class="col-xs-7">
		<table class="table table-striped" id="myTable">
			<thead>
				<tr>
					<th>Code projet</th>
					<th>Nom projet</th>
					<th>Nom complet</th>
					<th>Domaine</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Code projet1</td>
					<td>Nom projet1</td>
					<td>Nom complet1</td>
					<td>MTM</td>

				</tr>
				<tr>
					<td>Code projet2</td>
					<td>Nom projet2</td>
					<td>Nom complet2</td>
					<td>MTM</td>
				<tr>
					<td>Code projet3</td>
					<td>Nom projet3</td>
					<td>Nom complet3</td>
					<td>MTM</td>

				</tr>

			</tbody>
		</table>
		<button type="button" class="btn btn-success">Save</button>
		<button type="button" class="btn">Add</button>
		<table class="table table-striped" id="jours-fer">
			<thead>
				<tr>
					<th>Jours</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Jours</td>
					<td>choose a day</td>


				</tr>
			</tbody>
		</table>

	</div>
	<div class="col-xs-4"></div>
	<div class="col-xs-1">
		<button type="button" class="btn btn-sm center-block"
			(click)="showList()">Back</button>
	</div>


</div>


