
<body>
	<div class="row">
		<div class="col-xs-10"></div>
		<div class="dropdown" dropdown [dropdownToggle]="false"
			(onOpen)="doSomeActionOnOpen()" (onClose)="doSomeActionOnClose()">
			<button class="btn btn-primary" dropdown-open>
				mon compte <span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li><a (click)="onSelect(user)">changer mot de passe</a></li>
				<li><a routerLink="/logout" routerLinkActive="active-link">logout</a></li>
			</ul>
			<div *ngIf="selectedUser">
					<h2>{{selectedUser.firstName}} {{selectedUser.lastName}}
						details!</h2>
					<br>
					<div class="input-group">
						<label>Code Alliance: </label> <input class="form-control"
							type="text" [(ngModel)]="selectedUser.codeAlliance"
							placeholder="CodeAlliance" disabled />
					</div>
					<br>

					<br>
					<div class="input-group">
						<label>LastName: </label> <input class="form-control" type="text"
							[(ngModel)]="selectedUser.lastName" placeholder="LastName" />
					</div>
					<br>
					<div class="input-group">
						<label>Email: </label> <input class="form-control" type="text"
							[(ngModel)]="selectedUser.email" placeholder="Email" />
					</div>
					<br>
					<button type="submit" routerLink="/superuser"
						routerLinkActive="active-link" class="btn btn-success">Save</button>
					<button type="reset" class="btn btn-default">Reset</button>
				</div>
			
			<router-outlet></router-outlet>
		</div> </div> 
		<div class="row">
		<div class="col-xs-1"></div>
		<div class="col-xs-3">

			<h2 *ngFor='let user of users'></h2>
			<br>
			<p>
				<label>firstname: {{user.firstName}}</label>
			</p>
			<p>
				<label>lastname:{{user.lastName}} </label>
			</p>
			<p>
				<label>Code Alliance: {{user.codeAlliance}}</label>
			</p>
			<p>
				<label>email:{{user.email}} </label>
			</p>

		</div>

	</div>
	<div class="col-xs-5"></div>
	<div class="col-xs-3">
		<select style="text-align: center; font-weight: bold;">
			<option>mois</option>
			<option>janvier 2017</option>
			<option>fevrier 2017</option>
			<option>mars 2017</option>
			<option>avril 2017</option>
			<option>mai 2017</option>
			<option>juin 2017</option>
			<option>juillet 2017</option>
			<option>aout 2017</option>
			<option>septembre 2017</option>
			<option>octobre 2017</option>
			<option>novembre 2017</option>
			<option>decembre 2017</option>
		</select>
	</div>
	<div class="col-xs-4"></div>
	<br>
	<br>
	<div class="inner">

		<div class="row">

			<div class="col-xs-12">

				<table class="table-bordered table-striped"
					style="width: 1000px; margin: auto;" [formGroup]="form"
					(ngSubmit)="onSub(form.value)">

					<tbody>
						<tr style="text-align: center; width: 1000px;"
							*ngIf="imputations && imputations.calendrier && imputations.calendrier.joursDuMois.length > 0">
							<td></td>
							<td *ngFor="let jr of imputations.calendrier.joursDuMois">{{jr.libelle}}</td>

						</tr>
						<tr style="text-align: center;"
							*ngIf="imputations && imputations.calendrier && imputations.calendrier.joursDuMois.length > 0">
							<td>Jours</td>
							<td *ngFor="let jrm of imputations.calendrier.joursDuMois">{{jrm.jour}}</td>
						</tr>

						<br>
						<tr id="imp"
							*ngIf="imputations && imputations.mapImputation && imputations.mapImputation['codeProjet']">
							<td><select
								style="width: 200px; font-size: 13px; font-weight: bold;"
								formControlName="codeProjet"><option
										*ngIf="form.codeProjet">{{form.codeProjet}}</option>
									<option *ngIf="this.imputations.mapImputation.size>0">Code
										Projet {{this.imputations.mapImputation.keys().next().value}}</option>
									<option *ngFor=" let projet of projets">{{projet.codeprojet}}
									</option></select></td>

							<td
								*ngFor="
								let imputation of imputations.mapImputation['codeProjet']"><select
								style="width: 70px; font-size: 12px; font-weight: bold;"><option>{{imputation.jour}}
									</option>

							</select></td>
						</tr>
						<br>

					</tbody>
				</table>

				<br>
			</div>
		</div>

	</div>
	<div class="col-xs-1"></div>
	<div>
		<button type="button" value="testV" class="btn btn-success"
			(click)="onSub(form.value)">Save</button>
		<button type="button" class="btn">Add</button>
	</div>

</body>
