
<body>
	<div class="row">
		<div class="col-xs-10"></div>
		<div class="dropdown" dropdown [dropdownToggle]="false"
			(onOpen)="doSomeActionOnOpen()" (onClose)="doSomeActionOnClose()">
			<button class="btn btn-primary" dropdown-open>
				mon compte <span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li><a (click)="onSelect(user)">changer mot de passe</a></li>
				<li><a routerLink="/logout" routerLinkActive="active-link">Se deconnecter</a></li>
			</ul>
</div></div>
<body>
	<div class="row">

		<div class="col-xs-1"></div>
		<div class="col-xs-3">

			<!-- 			<h2>A</h2> -->
			<br>
				<ul>
			<li>Prenom: User </li>
			<li>Nom: User </li>
		</ul>

		</div>
		<div class="col-xs-7"></div>
	</div>
	<div class="col-xs-5"></div>
	<div class="col-xs-3" *ngIf="listeMoisAnnee && defaultMoisAnnee">
		<select style="text-align: center; font-weight: bold;"
			(change)="getImputationsByMonthYear($event)">

			<option *ngFor="let moisAnnee of listeMoisAnnee"
				[ngModel]="moisAnnee.cle" ngDefaultControl
				[selected]="moisAnnee.cle" [value]="moisAnnee.cle"
				[defaultSelected]="defaultMoisAnnee.valeur">{{moisAnnee.valeur}}</option>
		</select>
	</div>
	<div class="col-xs-4"></div>
	<br>
	<br>
	<div class="inner">

		<div class="row">

			<div class="col-xs-12">

				<table class="table-bordered table-striped"
					style="width: 1000px; margin: auto;">

					<tbody>
						<tr style="text-align: center; width: 1000px;"
							*ngIf="listeImputations && listeImputations[0].calendrier && listeImputations[0].calendrier.joursDuMois.length > 0">
							<td></td>
							<td *ngFor="let jr of listeImputations[0].calendrier.joursDuMois">{{jr.libelle}}</td>

						</tr>
						<tr style="text-align: center;"
							*ngIf="listeImputations && listeImputations[0].calendrier && listeImputations[0].calendrier.joursDuMois.length > 0">
							<td>Jours</td>
							<td
								*ngFor="let jrm of listeImputations[0].calendrier.joursDuMois">{{jrm.jour}}</td>
						</tr>

						<br>
						<tr *ngFor="let imputations of listeImputations">
							<td><select
								style="width: 200px; font-size: 13px; font-weight: bold;"
								(change)="setCodeProjetNewValue($event, imputations.id)">

									<option *ngFor=" let projet of projets"
										[selected]="imputations.projet.codeprojet == projet.codeprojet">{{projet.codeprojet}}</option>
							</select></td>

							<td
								*ngFor="
								let imputation of imputations.listeImputation">
								<select style="width: 70px; font-size: 12px; font-weight: bold;"
								(change)="setJourNewValue($event, imputation.id)">
									<option *ngFor="let valeur of listeValeurs"
										[selected]="imputation.jour == valeur.jour">{{valeur.jour}}</option>
							</select>
							</td>
							<br>
							<br>
						</tr>
					</tbody>
				</table>

				<br>
			</div>
		</div>

	</div>
	<div class="col-xs-1"></div>
	<div *ngIf="listeImputations">
		<button type="button" value="{{listeImputations}}"
			class="btn btn-success" (click)="updateImputations(listeImputations)">Sauvegarder</button>
	</div>
				
</body>
