<div *ngIf="viewdetails"></div>
<div class="col-xs-2"></div>
<div class="col-xs-4" >
	<br> <br> <br> <br>

	<p>
		<label>firstname: Mouhcine</label>
	</p>
	<p>
		<label>lastname: Cherqui</label>
	</p>
	<p>
		<label>Code Alliance: ecad3215</label>
	</p>
	<p>
		<label>email: m.cherqui@sofrecom.ma</label>
	</p>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Domaine</th>
				<th>projet</th>
				<th>les jours passer par chaque projet</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>domaine1</td>
				<td>projet1</td>
				<td>20 jours</td>

			</tr>
			<tr>
				<td>domaine2</td>
				<td>projet2</td>
				<td>15 jours</td>
			<tr>
				<td>domaine3</td>
				<td>projet3</td>
				<td>28 jours</td>

			</tr>
			<tr>
				<td>domaine4</td>
				<td>projet4</td>
				<td>17 jours</td>

			</tr>
			<tr>
				<td>domaine5</td>
				<td>projet5</td>
				<td>26 jours</td>

			</tr>
			<tr>
				<td>domaine6</td>
				<td>projet6</td>
				<td>30 jours</td>

			</tr>
			<tr>
				<td>domaine7</td>
				<td>projet7</td>
				<td>19 jours</td>

			</tr>
			<tr>
				<td>domaine8</td>
				<td>projet8</td>
				<td>20 jours</td>
			</tr>
		</tbody>
	</table>
	<button type="button" class="btn btn-success">Save</button>
	<button type="button" class="btn">Add</button>
</div>