
<body>
	<div class="row">

		<div class="col-xs-1"></div>
		<div class="col-xs-3">

			<h2>ALL Details</h2>
			<br>
			<p>
				<label>firstname: Mouhcine</label>
			</p>
			<p>
				<label>lastname: Cherqui</label>
			</p>
			<p>
				<label>Code Alliance: ecad3215</label>
			</p>
			<p>
				<label>email: m.cherqui@sofrecom.ma</label>
			</p>

		</div>
		<div class="col-xs-7"></div>
		<div class="col-xs-1">
			<button routerLink="/logout" routerLinkActive="active-link"
				type="submit" class="btn btn-primary btn-sm center-block"
				(click)="logoutUser()">logout</button>
		</div>
	</div>
	<div class="col-xs-5"></div>
	<div class="col-xs-3">
		<select style="text-align: center; font-weight: bold;">
			<option>mois</option>
			<option>janvier 2017</option>
			<option>fevrier 2017</option>
			<option>mars 2017</option>
			<option>avril 2017</option>
			<option>mai 2017</option>
			<option>juin 2017</option>
			<option>juillet 2017</option>
			<option>aout 2017</option>
			<option>septembre 2017</option>
			<option>octobre 2017</option>
			<option>novembre 2017</option>
			<option>decembre 2017</option>
		</select>
	</div>
	<div class="col-xs-4"></div>
	<br>
	<br>
	<div class="inner">

		<div class="row">

			<div class="col-xs-12">

				<table class="table-bordered table-striped"
					style="width: 1000px; margin: auto;" [formGroup]="form"
					(ngSubmit)="onSub(form.value)">

					<tbody>
						<tr style="text-align: center; width: 1000px;">
							<td></td>
							<td *ngFor=" let jr of imputations.calendrier.joursDuMois">{{jr.libelle}}</td>

						</tr>
						<tr style="text-align: center;">
							<td>Jours</td>
							<td *ngFor=" let jrm of imputations.calendrier.joursDuMois">{{jrm.jour}}</td>
						</tr>

						<br>
						<tr id="imp">
							<td><select
								style="width: 200px; font-size: 13px; font-weight: bold;"
								formControlName="codeprojet"><option>Code
										Projet</option>
									<option *ngFor=" let projet of projets">{{projet.codeprojet}}
									</option></select></td>

<!-- 							<td><select -->
<!-- 								style="width: 70px; font-size: 12px; font-weight: bold;"><option -->
<!-- 										*ngFor=" let imputation of imputations">{{imputation.jour}}</option> -->

<!-- 							</select></td> -->
						</tr>
						<br>

					</tbody>
				</table>

				<br>
			</div>
		</div>

	</div>
	<div class="col-xs-1"></div>
	<div>
		<button type="submit" value="submit" class="btn btn-success">Save</button>
		<button type="button" value="testV" class="btn btn-success"
			(click)="onSub(form.value)">Valider</button>
		<button type="button" class="btn">Add</button>
	</div>

</body>
